body {
  font-family: sans-serif;
  background: #eef4ff;
  text-align: center;
}

.hidden {
  display: none;
}

.card {
  background: white;
  padding: 20px;
  border-radius: 20px;
  width: 300px;
  margin: auto;
}

button {
  margin: 5px;
  padding: 10px;
  border-radius: 10px;
}

.word-img {
  width: 150px;
}
